<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Home</h1>
        <nav>
            <ul>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Usuario</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Productos</h2>
        <ul>
            <li>
            <% productos.forEach(producto => { %>
              
                    <div><%= producto.marca %></div>
                    <div><%= producto.modelo %></div>
                    <div><%= producto.precio %></div>
            
            <div class="form-container">
                <a href="/<%=producto.id%>/edit">Editar</a>
            </div>
                
            </li>
        <%  }) %>
        </ul>
    </main>

    <div class="form-container">
        <a href="/create">Creación de Vehículos</a>
    </div>

    <footer>
        <p>Copyright &copy; 2024</p>
    </footer>
</body>
</html>